In [7]:
import numpy as np

In [8]:
x = np.array(list(range(0, 100)))

In [10]:
y = np.array(list(range(100, 300, 2)))

In [11]:
y - x

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
       126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151,
       152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164,
       165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177,
       178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190,
       191, 192, 193, 194, 195, 196, 197, 198, 199])

In [12]:
np.square(y - x)

array([10000, 10201, 10404, 10609, 10816, 11025, 11236, 11449, 11664,
       11881, 12100, 12321, 12544, 12769, 12996, 13225, 13456, 13689,
       13924, 14161, 14400, 14641, 14884, 15129, 15376, 15625, 15876,
       16129, 16384, 16641, 16900, 17161, 17424, 17689, 17956, 18225,
       18496, 18769, 19044, 19321, 19600, 19881, 20164, 20449, 20736,
       21025, 21316, 21609, 21904, 22201, 22500, 22801, 23104, 23409,
       23716, 24025, 24336, 24649, 24964, 25281, 25600, 25921, 26244,
       26569, 26896, 27225, 27556, 27889, 28224, 28561, 28900, 29241,
       29584, 29929, 30276, 30625, 30976, 31329, 31684, 32041, 32400,
       32761, 33124, 33489, 33856, 34225, 34596, 34969, 35344, 35721,
       36100, 36481, 36864, 37249, 37636, 38025, 38416, 38809, 39204,
       39601])

In [13]:
np.sum(np.square(y-x))

2318350

In [15]:
mm = np.sum(np.square(y-x))

In [16]:
mm

2318350

In [18]:
x = x.reshape(10, 10)

In [19]:
y = y.reshape(10, 10)

In [25]:
np.sum(np.square(y[2] - x), axis=1)

array([208885, 180985, 155085, 131185, 109285,  89385,  71485,  55585,
        41685,  29785])

In [26]:
x

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [27]:
x.T

array([[ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
       [ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91],
       [ 2, 12, 22, 32, 42, 52, 62, 72, 82, 92],
       [ 3, 13, 23, 33, 43, 53, 63, 73, 83, 93],
       [ 4, 14, 24, 34, 44, 54, 64, 74, 84, 94],
       [ 5, 15, 25, 35, 45, 55, 65, 75, 85, 95],
       [ 6, 16, 26, 36, 46, 56, 66, 76, 86, 96],
       [ 7, 17, 27, 37, 47, 57, 67, 77, 87, 97],
       [ 8, 18, 28, 38, 48, 58, 68, 78, 88, 98],
       [ 9, 19, 29, 39, 49, 59, 69, 79, 89, 99]])

In [28]:
-x.T

array([[  0, -10, -20, -30, -40, -50, -60, -70, -80, -90],
       [ -1, -11, -21, -31, -41, -51, -61, -71, -81, -91],
       [ -2, -12, -22, -32, -42, -52, -62, -72, -82, -92],
       [ -3, -13, -23, -33, -43, -53, -63, -73, -83, -93],
       [ -4, -14, -24, -34, -44, -54, -64, -74, -84, -94],
       [ -5, -15, -25, -35, -45, -55, -65, -75, -85, -95],
       [ -6, -16, -26, -36, -46, -56, -66, -76, -86, -96],
       [ -7, -17, -27, -37, -47, -57, -67, -77, -87, -97],
       [ -8, -18, -28, -38, -48, -58, -68, -78, -88, -98],
       [ -9, -19, -29, -39, -49, -59, -69, -79, -89, -99]])

In [30]:
a = np.array([[1, 2],
              [3, 4]])
a

array([[1, 2],
       [3, 4]])

In [32]:
b = np.array([[5, 6],
             [7, 8]])
b

array([[5, 6],
       [7, 8]])

In [34]:
doc

NameError: name 'doc' is not defined

In [37]:
help('numpy')

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [43]:
a = np.array(list(range(12))).reshape(4, 3)
a

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [44]:
b = np.array([2, 2 , 2 ])

In [45]:
a + b

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10],
       [11, 12, 13]])

In [46]:
a.shape

(4, 3)

In [47]:
b.shape

(3,)

In [48]:
b.T.shape

(3,)

In [1]:
import numpy as np

In [2]:
a = np.array(list(range(12))).reshape(4, 3)

In [3]:
a

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [7]:
x = np.sum(np.square(a), axis=1)
x

array([  5,  50, 149, 302])

In [11]:
b = np.zeros((100, 4))

In [12]:
for i in range(100):
    b[i, :] = x

In [17]:
c = np.zeros((4, 100))

In [18]:
for i in range(100):
    c[:, i] = x

In [20]:
c.shape

(4, 100)

In [22]:
c[0][0]

5.0

In [23]:
c[1][0]

50.0

In [24]:
c[2][0]

149.0

In [25]:
c[3][0]

302.0

In [26]:
c

array([[  5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,
          5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,
          5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,
          5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,
          5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,
          5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,
          5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,
          5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,
          5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,
          5.],
       [ 50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,
         50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,
         50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,
         50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,
         50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,
         50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,
         50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,
         50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,
         50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,  50.,
         50.],
       [149., 149., 149., 149., 149., 149., 149., 149., 149., 149., 149.,
        149., 149., 149., 149., 149., 149., 149., 149., 149., 149., 149.,
        149., 149., 149., 149., 149., 149., 149., 149., 149., 149., 149.,
        149., 149., 149., 149., 149., 149., 149., 149., 149., 149., 149.,
        149., 149., 149., 149., 149., 149., 149., 149., 149., 149., 149.,
        149., 149., 149., 149., 149., 149., 149., 149., 149., 149., 149.,
        149., 149., 149., 149., 149., 149., 149., 149., 149., 149., 149.,
        149., 149., 149., 149., 149., 149., 149., 149., 149., 149., 149.,
        149., 149., 149., 149., 149., 149., 149., 149., 149., 149., 149.,
        149.],
       [302., 302., 302., 302., 302., 302., 302., 302., 302., 302., 302.,
        302., 302., 302., 302., 302., 302., 302., 302., 302., 302., 302.,
        302., 302., 302., 302., 302., 302., 302., 302., 302., 302., 302.,
        302., 302., 302., 302., 302., 302., 302., 302., 302., 302., 302.,
        302., 302., 302., 302., 302., 302., 302., 302., 302., 302., 302.,
        302., 302., 302., 302., 302., 302., 302., 302., 302., 302., 302.,
        302., 302., 302., 302., 302., 302., 302., 302., 302., 302., 302.,
        302., 302., 302., 302., 302., 302., 302., 302., 302., 302., 302.,
        302., 302., 302., 302., 302., 302., 302., 302., 302., 302., 302.,
        302.]])

In [1]:
import numpy as np

In [11]:
x = np.array(list(range(0, 9))).reshape(3, 3);
p = np.sum(np.square(x), axis=1);
arr_test = np.zeros((3, 3))
for i in range(3):
    arr_test[:, i] = p
arr_test

array([[  5.,   5.,   5.],
       [ 50.,  50.,  50.],
       [149., 149., 149.]])

In [7]:
x = np.array(list(range(9, 18))).reshape(3, 3);
p = np.sum(np.square(x), axis=1);
arr_train = np.zeros((3, 3))
for i in range(3):
    arr_test[i, :] = p
arr_train

array([  5,  50, 149])

In [8]:
arr_test = np.zeros((3, 3))

In [9]:
for i in range(3):
    arr_test[:, i] = p

In [10]:
arr_test

array([[  5.,   5.,   5.],
       [ 50.,  50.,  50.],
       [149., 149., 149.]])